# VCS
.git
.gitignore
README.md
docker-compose.yml

# ENV & config local
.env
*.local

# Node stuff (ถ้ามี frontend ผสม)
node_modules

# Logs
*.log
**/*.log

# Temp & cache
tmp
*.tmp
*.swp
*.bak

# Editor & IDE
.vscode
.idea

# Test & coverage
*_test.go

# Binary / build output
server
*.exe
*.out
